#sold {
    opacity: 0.3;
}

.sold_stamp {
    position: absolute;
    color: #45526E;
    font-weight: 600;
    letter-spacing: 20px;
    font-size: 55px;
    top: 25%;
    left: 5%;
}

.card {
    border: 2px solid #C99B11 !important;
}

@media (max-width: 1400px) {
    .sold_stamp {
        font-size: 40px;
    }
}

@media (max-width: 1200px) {
    .sold_stamp {
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .sold_stamp {
        font-size: 20px;
    }
}

@media (max-width: 770px) {
    .sold_stamp {
        right: 0;
        font-size: 6vh;
    }
}

@media (max-width: 340px) {
    .sold_stamp {
        right: 0;
        font-size: 4vh;
    }
}