@import 'bootstrap/dist/css/bootstrap.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.app_container {
    width: 100vw;
    height: fit-content;
    background-color: #f8f9fa;
}

.carousel_container {
    height: 50vh;
}

.btn-outline-secondary:hover {
    background-color: #45526E !important;
}