@import 'bootstrap/dist/css/bootstrap.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_container {
    width: 100vw;
    height: fit-content;
}

.carousel_container {
    height: 50vh;
}


.logo_background {
    background-color: rgba(248, 249, 250, 0.5);
    width: 20%;
    height: 40%;
    position: fixed;
    right: 40%;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    /* The drop shadow effect */
    transition: box-shadow 0.3s ease-in-out;
    /* Add a smooth transition */
}

.logo_background img {
    width: 100%;
    min-width: 150px;
    height: auto;
}

.logo_background:hover {
    background-color: transparent;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
}

/* @media (max-width: 1200px) {
    .logo_background {
        top: 50px;
        height: 180px;
    }
} */